<style>
    #close_modal_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: rgb(117, 117, 117);
        position: absolute;
        top: -15px;
        right: -15px;
        border-radius: 50%;
        cursor: pointer;
    }

    #close_modal_button:hover {
        background-color: antiquewhite;
    }
</style>

<main style="display: flex; flex-direction: column; align-items: center; position: relative;">
    <div class="my-3">
        <h1>Administrar grupos - <span style="text-transform: capitalize;">{{adm}}</span></h1>
    </div>
    <div style="width: 95vw; height: 600px; box-shadow: inset 0 0 10px #505050; padding: 10px;" class="">
        <div id="users_list_header"
            style="width: 100%; min-height: 80px; background-color: rgb(117, 117, 117); display: flex; justify-content: flex-start; align-items: center; padding: 0 20px;">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false" data-bs-auto-close="outside">
                    Adicionar grupo +
                </button>
                <form id="cnp_group_add" style="width: 300px;" class="dropdown-menu p-4">
                    <div class="mb-3">
                        <label for="cnp_group_code" class="form-label">Código do grupo</label>
                        <input name="cnp_group_code" type="text" class="form-control" id="cnp_group_code"
                            placeholder="Código do grupo">
                    </div>
                    <div class="mb-3">
                        <label for="cnp_rate" class="form-label">Taxa de administração (%)</label>
                        <input step="0.01" name="cnp_rate" type="number" class="form-control" id="cnp_rate"
                            placeholder="Taxa de administração">
                    </div>
                    <div class="mb-3">
                        <label for="cnp_reserve_fund" class="form-label">Fundo de reserva (%)</label>
                        <input step="0.01" name="cnp_reserve_fund" type="number" class="form-control"
                            id="cnp_reserve_fund" placeholder="Fundo de reserva">
                    </div>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </form>
            </div>
        </div>
        <div style="background-color: white; overflow-y: scroll; height: 500px; margin-top: 5px; display: flex; flex-direction: column; gap: 10px;"
            style="">
            <table>
                <thead>
                    <th>ID</th>
                    <th>CÓDIGO DO GRUPO</th>
                    <th>TAXA DE ADMINISTRAÇÃO (%)</th>
                    <th>FUNDO DE RESERVA (%)</th>
                    <th>FERRAMENTAS</th>
                </thead>
                <tbody id="table_tbody"></tbody>
            </table>
        </div>
    </div>
    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(31, 31, 31, 0.897); z-index: 10;"
        id="user_update_modal" class="d-none justify-content-center align-items-center">
        <div style="background-color: white; width: 65%; border-radius: 20px; position: relative;">
            <div id="close_modal_button">X</div>
            <div style="text-align: center; margin: 20px 0;">
                <h2>Atualizar usuário</h2>
            </div>
            <form id="update_user_form" method="POST">
                <div class="form-row d-flex justify-content-center flex-wrap gap-2">
                    <div class="form-group col-md-5">
                        <label for="inputName">Nome</label>
                        <input name="user_first_name" type="text" class="form-control" id="inputName"
                            placeholder="Informe o nome do usuário">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputLastName">Sobrenome</label>
                        <input name="user_last_name" type="text" class="form-control" id="inputLastName"
                            placeholder="Informe o sobrenome do usuário">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputEmail">Email</label>
                        <input name="user_email" type="email" class="form-control" id="inputEmail"
                            placeholder="Informe o e-mail do usuário">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputPassword">Senha</label>
                        <input name="user_password" type="password" class="form-control" id="inputPassword"
                            placeholder="Informe a senha do usuário">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputCellphone">Telefone</label>
                        <input name="user_phone" oninput="phoneMask(this);" maxlength="15" type="text"
                            class="form-control" id="inputCellphone"
                            placeholder="Informe os 11 dígitos do celular do usuário (DDD + número)">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputCpf">CPF</label>
                        <input name="user_cpf" oninput="cpf(this);" maxlength="14" type="text" class="form-control"
                            id="inputCpf" placeholder="Informe os 11 dígitos do CPF do usuário">
                    </div>
                    <div class="form-group col-md-10 border position-relative p-3 mt-3">
                        <input
                            style="cursor: pointer; padding: 0; margin: 0; vertical-align: center; position: relative; top: 1px; overflow: hidden;"
                            name="user_is_admin" type="checkbox" id="inputAdmin">
                        <label style="display: inline-block;" for="inputAdmin">O usuário <strong>é um
                                ADMINISTRADOR</strong></label>
                        <div
                            style="background-color: white; padding: 0 3px; display: flex; justify-content: center; position: absolute; top: -13px; left: 15px; align-items: center;">
                            <p
                                style="background-color: red; width: 22px; height: 22px; font-size: 15px; text-align: center; border-radius: 50%; color: white; margin-right: 5px; margin-bottom: 0;">
                                !</p>
                            <p style="color: red; margin: 0;">Ao confirmar, você torna o novo usuário um administrador.
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column;" class="form-group col-md-10 btn-group"
                        role="group" aria-label="Basic checkbox toggle button group">
                        <p style="margin: 0;">Acesso à modulos</p>
                        <fieldset id="modules"
                            style="display: flex; flex-wrap: wrap; gap: 2px; justify-content: space-between;"
                            class="border p-2">
                            <div class="">
                                <input type="checkbox" class="module-checkbox btn-check" name="cnp" id="btncheck1"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck1">cnp</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="module-checkbox btn-check" name="cnp" id="btncheck2"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck2">CNP</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="module-checkbox btn-check" name="embracon" id="btncheck3"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">Embracon</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="module-checkbox btn-check" name="gazin" id="btncheck4"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck4">Gazin</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="module-checkbox btn-check" name="itau" id="btncheck5"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck5">Itaú</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="module-checkbox btn-check" name="magalu" id="btncheck6"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck6">Magalu</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="module-checkbox btn-check" name="recon" id="btncheck7"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck7">Recon</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="module-checkbox btn-check" name="cnp" id="btncheck8"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck8">cnp</label>
                            </div>
                            <div class="">
                                <input type="checkbox" class="module-checkbox btn-check" name="unicoob" id="btncheck9"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck9">Unicoob</label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="my-3 d-flex justify-content-center">
                    <button id="button_send" style="width: 210px;" type="submit" class="btn btn-primary my-2">Atualizar
                        cliente</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            const table_tbody = document.querySelector("#table_tbody");

            const all_data = await fetch("/adm/cnp", {
                "method": "GET"
            })
                .then(response => response.json());

            const data = all_data.response;

            for (let i of data) {
                const tr = document.createElement("tr");
                const td_id = document.createElement("td");
                const td_group_code = document.createElement("td");
                const td_adm_rate = document.createElement("td");
                const td_reserve_fund = document.createElement("td");
                const td_buttons = document.createElement("td");
                const button_update = generateDropdown(i.cnp_group_code, i.cnp_rate, i.cnp_reserve_fund);
                const button_delete = document.createElement("button");

                button_delete.classList.add("btn", "btn-danger", "mx-1", "delete_button");
                button_delete.textContent = "Deletar"

                td_id.textContent = i.cnp_data_id;
                td_id.classList.add("group_id");
                td_group_code.textContent = i.cnp_group_code;
                td_group_code.classList.add("group_code");
                td_adm_rate.textContent = i.cnp_rate;
                td_adm_rate.classList.add("rate");
                td_reserve_fund.textContent = i.cnp_reserve_fund;
                td_reserve_fund.classList.add("reserve_fund");
                td_buttons.appendChild(button_update);
                td_buttons.appendChild(button_delete);

                [td_id, td_group_code, td_adm_rate, td_reserve_fund, td_buttons].forEach((element) => {
                    element.classList.add("p-1");
                    tr.appendChild(element);
                });

                table_tbody.appendChild(tr);
            }

            function generateDropdown(group_code, adm_rate, reserve_fund) {
                const container = document.createElement("div");
                container.classList.add("btn");

                const dropdownDiv = document.createElement('div');
                dropdownDiv.classList.add('dropdown');

                const button = document.createElement('button');
                button.type = 'button';
                button.classList.add('btn', 'btn-warning', 'dropdown-toggle', 'update_btn');
                button.setAttribute('data-bs-toggle', 'dropdown');
                button.setAttribute('aria-expanded', 'false');
                button.setAttribute('data-bs-auto-close', 'outside');
                button.textContent = 'Editar';

                const form = document.createElement('form');
                form.id = 'cnp_group_update';
                form.style.width = '300px';
                form.classList.add('dropdown-menu', 'p-4');

                const groupCodeDiv = document.createElement('div');
                groupCodeDiv.classList.add('mb-3');
                const groupCodeLabel = document.createElement('label');
                groupCodeLabel.classList.add('form-label');
                groupCodeLabel.setAttribute('for', 'cnp_group_code');
                groupCodeLabel.textContent = 'Código do grupo';
                const groupCodeInput = document.createElement('input');
                groupCodeInput.value = group_code;
                groupCodeInput.name = 'cnp_group_code';
                groupCodeInput.type = 'text';
                groupCodeInput.classList.add('form-control');
                groupCodeInput.id = 'cnp_group_code';
                groupCodeInput.placeholder = 'Código do grupo';
                groupCodeDiv.appendChild(groupCodeLabel);
                groupCodeDiv.appendChild(groupCodeInput);

                const rateDiv = document.createElement('div');
                rateDiv.classList.add('mb-3');
                const rateLabel = document.createElement('label');
                rateLabel.classList.add('form-label');
                rateLabel.setAttribute('for', 'cnp_rate');
                rateLabel.textContent = 'Taxa de administração (%)';
                const rateInput = document.createElement('input');
                rateInput.value = adm_rate;
                rateInput.step = '0.01';
                rateInput.name = 'cnp_rate';
                rateInput.type = 'number';
                rateInput.classList.add('form-control');
                rateInput.id = 'cnp_rate';
                rateInput.placeholder = 'Taxa de administração';
                rateDiv.appendChild(rateLabel);
                rateDiv.appendChild(rateInput);

                const reserveFundDiv = document.createElement('div');
                reserveFundDiv.classList.add('mb-3');
                const reserveFundLabel = document.createElement('label');
                reserveFundLabel.classList.add('form-label');
                reserveFundLabel.setAttribute('for', 'cnp_reserve_fund');
                reserveFundLabel.textContent = 'Fundo de reserva (%)';
                const reserveFundInput = document.createElement('input');
                reserveFundInput.value = reserve_fund;
                reserveFundInput.step = '0.01';
                reserveFundInput.name = 'cnp_reserve_fund';
                reserveFundInput.type = 'number';
                reserveFundInput.classList.add('form-control');
                reserveFundInput.id = 'cnp_reserve_fund';
                reserveFundInput.placeholder = 'Fundo de reserva';
                reserveFundDiv.appendChild(reserveFundLabel);
                reserveFundDiv.appendChild(reserveFundInput);

                const submitButton = document.createElement('button');
                submitButton.type = 'submit';
                submitButton.classList.add('btn', 'btn-primary', "btn_update_submit");
                submitButton.textContent = 'Alterar';

                form.appendChild(groupCodeDiv);
                form.appendChild(rateDiv);
                form.appendChild(reserveFundDiv);
                form.appendChild(submitButton);

                dropdownDiv.appendChild(button);
                dropdownDiv.appendChild(form);

                container.appendChild(dropdownDiv);

                form.addEventListener("submit", async function (event) {
                    event.preventDefault();
                    const update_button_container = this.parentNode;
                    const update_button = update_button_container.parentNode;
                    const cell = update_button.parentNode;
                    const row = cell.parentNode;
                    const group_id = row.querySelector(".group_id").textContent;

                    const formData = new FormData(this);
                    const formValues = {};

                    formData.forEach((value, key) => {
                        if (key === 'cnp_rate' || key === 'cnp_reserve_fund') {
                            value = parseFloat(value);
                        }

                        if (!formValues[key]) {
                            formValues[key] = value;
                        } else {
                            if (!Array.isArray(formValues[key])) {
                                formValues[key] = [formValues[key]];
                            }
                            formValues[key].push(value);
                        }
                    });

                    const update_request = await fetch(`/adm/cnp/update/${group_id}`, {
                        "method": "PUT",
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "body": JSON.stringify(formValues)
                    })
                    .then(response => response.json())
                    .catch(error => alert("Não foi possível atualizar o grupo!"));

                    alert(update_request.response);

                    window.location.reload();
                });

                return container;
            }
        });

        document.querySelector("#table_tbody").addEventListener("click", async (event) => {
            const clicked_element = event.target;
            const cell = clicked_element.parentNode;
            const linha = cell.parentNode;
            const group_id = linha.querySelector(".group_id");
            const update_button = cell.querySelector(".update_button");
            const delete_button = cell.querySelector(".delete_button");

            if (clicked_element.classList.contains("delete_button")) {
                const delete_confim = confirm("Deseja deletar este grupo?");

                if (delete_confim) {
                    const delete_request = await fetch(`/adm/cnp/delete/${group_id.textContent}`, {
                        "method": "DELETE"
                    })
                        .then(response => response.json());

                    alert(delete_request.response);

                    return window.location.reload();
                }

                return alert("Grupo não deletado!");
            }
        });

        document.querySelector("#cnp_group_add").addEventListener("submit", async function (event) {
            event.preventDefault();

            const formData = new FormData(this);
            const formValues = {};

            formData.forEach((value, key) => {
                if (key === 'cnp_rate' || key === 'cnp_reserve_fund') {
                    value = parseFloat(value);
                }

                if (!formValues[key]) {
                    formValues[key] = value;
                } else {
                    if (!Array.isArray(formValues[key])) {
                        formValues[key] = [formValues[key]];
                    }
                    formValues[key].push(value);
                }
            });

            const request = await fetch("/adm/cnp/add", {
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json"
                },
                "body": JSON.stringify(formValues)
            })
                .then(response => response.json());

            alert(request.response);

            window.location.reload();
        });
    </script>
</main>
