<main class="px-4">
    <div class="my-4 text-center">
        <h1>Cadastrar</h1>
    </div>
    <form method="POST" action="/user/create/confirm/view">
        <div class="form-row d-flex justify-content-center flex-wrap gap-2">
            <div class="form-group col-md-6">
                <label for="inputName">Nome</label>
                <input required name="user_first_name" type="text" class="form-control" id="inputName"
                    placeholder="Informe seu nome">
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastName">Sobrenome</label>
                <input required name="user_last_name" type="text" class="form-control" id="inputLastName"
                    placeholder="Informe seu sobrenome">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input required name="user_email" type="email" class="form-control" id="inputEmail4"
                    placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Senha</label>
                <input required name="user_password" type="password" class="form-control" id="inputPassword4"
                    placeholder="Senha">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCellphone">Telefone</label>
                <input required name="user_phone" oninput="phoneMask(this);" maxlength="15" type="text"
                    class="form-control" id="inputCellphone"
                    placeholder="Informe os 11 dígitos do seu celular (DDD + número)">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCpf">CPF</label>
                <input required name="user_cpf" oninput="cpf(this);" maxlength="14" type="text" class="form-control"
                    id="inputCpf" placeholder="Informe os 11 dígitos do seu CPF">
            </div>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <button style="width: 210px;" type="submit" class="btn btn-primary my-2">Cadastrar-se</button>
        </div>
    </form>
</main>
