<style>
    .card {
        transition: 0.2s ease-in-out;
    }

    .card:hover {
        transform: scale(1.1);
        transition: 0.2s ease-in-out;
    }
</style>

<main>
    <div id="card-container" class="p-2 d-flex flex-wrap gap-3 justify-content-center">
        {{#each modules_allowed}}
        {{#if (eq this "santander")}}
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/santander.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Santander</h5>
                <p class="card-text">Simular com a administradora do Santander</p>
                <a href="/simulator/santander" class="btn btn-primary">Acessar simulador →</a>
            </div>
        </div>
        {{/if}}
        {{#if (eq this "bradesco")}}
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/bradesco.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Bradesco</h5>
                <p class="card-text">Simular com a administradora do Bradesco</p>
                <a href="/simulator/bradesco" class="btn btn-primary">Acessar simulador →</a>
            </div>
        </div>
        {{/if}}
        {{#if (eq this "cnp")}}
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/cnp.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">CNP</h5>
                <p class="card-text">Simular com a administradora do CNP</p>
                <a href="/simulator/cnp" class="btn btn-primary">Acessar simulador →</a>
            </div>
        </div>
        {{/if}}
        {{#if (eq this "embracon")}}
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/embracon.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Embracon</h5>
                <p class="card-text">Simular com a administradora da Embracon</p>
                <a href="/simulator/embracon" class="btn btn-primary">Acessar simulador →</a>
            </div>
        </div>
        {{/if}}
        {{#if (eq this "gazin")}}
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/gazin.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Gazin</h5>
                <p class="card-text">Simular com a administradora da Gazin</p>
                <a href="/simulator/gazin" class="btn btn-primary">Acessar simulador →</a>
            </div>
        </div>
        {{/if}}
        {{#if (eq this "itau")}}
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/itau.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Itaú</h5>
                <p class="card-text">Simular com a administradora do Itaú</p>
                <a href="/simulator/itau" class="btn btn-primary">Acessar simulador →</a>
            </div>
        </div>
        {{/if}}
        {{#if (eq this "magalu")}}
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/magalu.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Magalu</h5>
                <p class="card-text">Simular com a administradora do Magalu</p>
                <a href="/simulator/magalu" class="btn btn-primary">Acessar simulador →</a>
            </div>
        </div>
        {{/if}}
        {{#if (eq this "recon")}}
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/recon.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Recon</h5>
                <p class="card-text">Simular com a administradora da Recon</p>
                <a href="/simulator/recon" class="btn btn-primary">Acessar simulador →</a>
            </div>
        </div>
        {{/if}}
        {{#if (eq this "unicoob")}}
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/unicoob.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Unicoob</h5>
                <p class="card-text">Simular com a administradora da Unicoob</p>
                <a href="/simulator/unicoob" class="btn btn-primary">Acessar simulador →</a>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</main>
