<main>
    <div class="my-4 text-center">
        <h1>Configurar módulos de administradoras</h1>
    </div>
    <div id="card-container" class="p-2 d-flex flex-wrap gap-3 justify-content-center">
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/santander.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Santander</h5>
                <p class="card-text">Configurar módulo da administradora do Santander</p>
                <a href="/view/simulator/santander" class="btn btn-primary">Configurar módulo →</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/bradesco.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Bradesco</h5>
                <p class="card-text">Configurar módulo da administradora do Bradesco</p>
                <a href="/view/simulator/bradesco" class="btn btn-primary">Configurar módulo →</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/cnp.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">CNP</h5>
                <p class="card-text">Configurar módulo da administradora do CNP</p>
                <a href="/view/simulator/cnp" class="btn btn-primary">Configurar módulo →</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/embracon.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Embracon</h5>
                <p class="card-text">Configurar módulo da administradora da Embracon</p>
                <a href="/view/simulator/embracon" class="btn btn-primary">Configurar módulo →</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/gazin.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Gazin</h5>
                <p class="card-text">Configurar módulo da administradora da Gazin</p>
                <a href="/view/simulator/gazin" class="btn btn-primary">Configurar módulo →</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/itau.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Itaú</h5>
                <p class="card-text">Configurar módulo da administradora do Itaú</p>
                <a href="/view/simulator/itau" class="btn btn-primary">Configurar módulo →</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/magalu.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Magalu</h5>
                <p class="card-text">Configurar módulo da administradora do Magalu</p>
                <a href="/view/simulator/magalu" class="btn btn-primary">Configurar módulo →</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/recon.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Recon</h5>
                <p class="card-text">Configurar módulo da administradora da Recon</p>
                <a href="/view/simulator/recon" class="btn btn-primary">Configurar módulo →</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem; background-color: rgb(224, 224, 224);">
            <img src="/images/adm_content/banners/unicoob.jpg" class="card-img-top" alt="404 - imagem não encontrada">
            <div class="card-body">
                <h5 class="card-title">Unicoob</h5>
                <p class="card-text">Configurar módulo da administradora da Unicoob</p>
                <a href="/view/simulator/unicoob" class="btn btn-primary">Configurar módulo →</a>
            </div>
        </div>
    </div>
</main>
