<style>
    .header-a {}

    .header-a {
        width: 140px;
        height: 70px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .header-a:hover {
        background-color: rgba(53, 53, 53, 0.541);
    }
</style>

<header style="background-color: rgba(77, 77, 77, 0.315);" class="d-flex justify-content-end px-5 py-3">
    <div style="" class="d-flex column-gap-2">
        <a style="color: black;" class="header-a text-decoration-none" href="/">
            HOME
        </a>
        <a style="color: black;" class="header-a text-decoration-none" href="/user/auth/login">
            LOGIN
        </a>
        <a style="color: black;" class="header-a text-decoration-none" href="/simulator">
            SIMULADOR
        </a>
        <a style="color: black;" class="header-a text-decoration-none" href="/user/create/view">
            CADASTRAR-SE
        </a>
    </div>
</header>
