<style>
    #table-subcontainer::-webkit-scrollbar {
        width: 16px;
    }

    #table-subcontainer::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    #table-subcontainer::-webkit-scrollbar-thumb {
        background-color: #727272;
        border: 3px solid #ffffff;
    }

    #table-subcontainer::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    #table-subcontainer {
        max-width: 98vw;
        overflow: scroll;
        border: 1px solid rgba(83, 83, 83, 0.233);
        max-height: 600px;
    }

    th,
    td {
        min-width: 120px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid rgb(134, 134, 134);
    }
    .table_width_limiter {
        max-width: 712px;
    }
</style>

<main>
    <form id="simulator-form" class="d-flex flex-wrap form-simulator">
        <div class="px-3 mt-3 form-group col-md-6">
            <label for="formGroupExampleInput">Grupos sugeridos</label>
            <input required name="sim_grupos_sugeridos" type="number" class="form-control" id="formGroupExampleInput"
                placeholder="Grupos sugeridos">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label for="formGroupExampleInput2">Taxa de ADM. - %</label>
            <input required name="sim_taxa_adm" type="number" class="form-control" id="formGroupExampleInput2"
                placeholder="Taxa de ADM.">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label for="formGroupExampleInput3">Fundo de reserva</label>
            <input required name="sim_fundo_reserva" type="number" class="form-control" id="formGroupExampleInput3"
                placeholder="Fundo de reserva">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label for="formGroupExampleInput4">Prazo</label>
            <input required name="sim_prazo" type="number" class="form-control" id="formGroupExampleInput4"
                placeholder="Prazo">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label for="formGroupExampleInput5">Quantidade de cotas</label>
            <input required name="sim_cotas" type="number" class="form-control" id="formGroupExampleInput5"
                placeholder="Quantidade de cotas">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label for="formGroupExampleInput6">Carta de crédito - Unitária</label>
            <input required name="sim_carta_credito_unitaria" type="number" class="form-control"
                id="formGroupExampleInput6" placeholder="Carta de crédito - Unitária">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label for="formGroupExampleInput7">Lance de recursos próprios - %</label>
            <input required name="sim_lance_recu_prop_percent" type="number" class="form-control"
                id="formGroupExampleInput7" placeholder="Lance de recursos próprios - %">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label for="formGroupExampleInput8">Lance embutido - %</label>
            <input required name="sim_lance_embutido_percent" type="number" class="form-control"
                id="formGroupExampleInput8" placeholder="Lance embutido - %">
        </div>
        <div class="w-100 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-full w-25 mt-4 center">Criar simulação +</button>
        </div>
    </form>
    <button onclick="downloadPDF();" class="btn btn-warning">Baixar PDF</button>
    <div style="display: flex; justify-content: center;" class="mt-4">
        <div id="table-subcontainer" class="p-2"></div>
    </div>

    <script>
        const table_subcontainer = document.querySelector("#table-subcontainer");
        const form = document.querySelector("#simulator-form");
        const simulations_arr = [];

        window.onload = checkAuth();

        function downloadPDF() {
            const table_container = document.createElement("div");

            for (let i = 0; i < simulations_arr.length; i++) {
                const table_element = document.createElement("table");
                table_element.classList.add("table_width_limiter");
                const h4 = document.createElement("h4");
                const div_el = document.createElement("div");
                div_el.style.height = "100%";

                h4.innerText = `Simulação ${i + 1}`;

                div_el.appendChild(h4);

                table_element.innerHTML = `
                    <thead>
                        <tr>
                            <th rowspan="2">Grupos sugeridos</th>
                            <th rowspan="2">Taxa de ADM</th>
                            <th rowspan="2">Fundo de reserva</th>
                            <th rowspan="2">Prazo</th>
                            <th rowspan="2">Qtde. cotas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>${simulations_arr[i].sim_grupos_sugeridos}</td>
                            <td>${simulations_arr[i].sim_taxa_adm * 100}%</td>
                            <td>${simulations_arr[i].sim_fundo_reserva * 100}%</td>
                            <td>${simulations_arr[i].sim_prazo}</td>
                            <td>${simulations_arr[i].sim_cotas}</td>
                        </tr>
                    </tbody>
                        <thead>
                        <tr>
                            <th colspan="2">Carta de crédito</th>
                            <th rowspan="2">Parcela inicial total</th>
                            <th colspan="2">Lance recursos próprios</th>
                        </tr>
                        <tr>
                            <th>Unitária</th>
                            <th>Total</th>
                            <th>%</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>${simulations_arr[i].sim_carta_credito_unitaria}</td>
                            <td>${simulations_arr[i].cartaCreditoTotal}</td>
                            <td>${simulations_arr[i].parcelaInicialTotal}</td>
                            <td>${simulations_arr[i].sim_lance_recu_prop_percent * 100}%</td>
                            <td>${simulations_arr[i].lanceRecursosPropriosValor}</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Lance embutido</th>
                            <th rowspan="2">Lance total</th>
                            <th rowspan="2">Crédito disponível total</th>
                            <th rowspan="2">Parcela pós contemplação s/ seguro</th>
                        </tr>
                        <tr>
                            <th>%</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>${simulations_arr[i].sim_lance_embutido_percent * 100}%</td>
                            <td>${simulations_arr[i].lanceEmbutidoValor}</td>
                            <td>${simulations_arr[i].lanceTotal}%</td>
                            <td>${simulations_arr[i].creditoDisponivelTotal}</td>
                            <td>${simulations_arr[i].parcelaPosContemplacaoSemSeguro}</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="3">Parcela pós contemplação c/ seguro</th>
                            <th colspan="3">Parcela total pós contemplação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">${simulations_arr[i].parcelaPosContemplacaoComSeguro}</td>
                            <td colspan="3">${simulations_arr[i].parcelaTotalPosContemplacao}</td>
                        </tr>
                    </tbody>
                `;

                div_el.appendChild(table_element);
                table_container.appendChild(div_el);
            }

            const htmlString = table_container.outerHTML;

            const option = {
                "margin": 0.5,
                "filename": "simulacao_consorcio.pdf",
                "html2canvas": {
                    "scale": 1,
                    "scrollX": 0,
                    "scrollY": 0
                },
                "jsPDF": {
                    "unit": "in",
                    "format": "letter",
                    "orientation": "portrait"
                }
            }

            html2pdf().set(option).from(htmlString).save();
        }

        function checkAuth() {
            const token = sessionStorage.getItem("authorization");

            if (!token) {
                alert("Você precisa estar logado para acessar esta página.");
                return window.location.href = "/user/auth/login";
            }
        }

        form.addEventListener("submit", async (event) => {
            try {
                event.preventDefault();
                const form_target = event.target;
                const formData = new FormData(form_target);
                const data = {};
                const token = sessionStorage.getItem("authorization");

                formData.forEach((value, key) => {
                    data[key] = value;
                });

                const request = await fetch("/simulator/simulate", {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json",
                        "Authorization": `Bearer ${token}`
                    },
                    "body": JSON.stringify(data)
                }).then(e => e.json());

                if (request.status_code != 401) {
                    simulations_arr.push(request.data);

                    const table_element = document.createElement("table");
                    table_element.className = "mb-3 table table-striped table-bordered";
                    table_element.style.boxShadow = "1px 1px 5px black";
                    const h4 = document.createElement("h4");

                    for (let i = 0; i < simulations_arr.length; i++) {
                        h4.innerText = `Simulação ${i + 1}`;

                        table_subcontainer.appendChild(h4);

                        table_element.innerHTML = `
                            <thead>
                                <tr>
                                    <th rowspan="2">Grupos sugeridos</th>
                                    <th rowspan="2">Taxa de ADM</th>
                                    <th rowspan="2">Fundo de reserva</th>
                                    <th rowspan="2">Prazo</th>
                                    <th rowspan="2">Qtde. cotas</th>
                                    <th colspan="2">Carta de crédito</th>
                                    <th rowspan="2">Parcela inicial unitária</th>
                                    <th rowspan="2">Valor da parcela c/ seguro</th>
                                    <th rowspan="2">Parcela inicial total</th>
                                    <th rowspan="2">Parcela c/ seguro total</th>
                                    <th colspan="3">Lance recursos próprios</th>
                                    <th colspan="3">Lance embutido</th>
                                    <th rowspan="2">Lance total</th>
                                    <th rowspan="2">Crédito disponível total</th>
                                    <th rowspan="2">Parcela pós contemplação s/ seguro</th>
                                    <th rowspan="2">Parcela pós contemplação c/ seguro</th>
                                    <th rowspan="2">Parcela total pós contemplação</th>
                                </tr>
                                <tr>
                                    <td>Unitária</td>
                                    <td>Total</td>
                                    <td>%</td>
                                    <td>Lance livre</td>
                                    <td>Valor</td>
                                    <td>%</td>
                                    <td>Lance livre</td>
                                    <td>Valor</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>${simulations_arr[i].sim_grupos_sugeridos}</td>
                                    <td>${simulations_arr[i].sim_taxa_adm * 100}%</td>
                                    <td>${simulations_arr[i].sim_fundo_reserva * 100}%</td>
                                    <td>${simulations_arr[i].sim_prazo}</td>
                                    <td>${simulations_arr[i].sim_cotas}</td>
                                    <td>${simulations_arr[i].sim_carta_credito_unitaria}</td>
                                    <td>${simulations_arr[i].cartaCreditoTotal}</td>
                                    <td>${simulations_arr[i].parcelaInicialUnitaria}</td>
                                    <td>${simulations_arr[i].valorParcelaComSeguro}</td>
                                    <td>${simulations_arr[i].parcelaInicialTotal}</td>
                                    <td>${simulations_arr[i].parcelaComSeguroTotal}</td>
                                    <td>${simulations_arr[i].sim_lance_recu_prop_percent * 100}%</td>
                                    <td>${simulations_arr[i].lanceRecursosPropriosValorLanceLivre}</td>
                                    <td>${simulations_arr[i].lanceRecursosPropriosValor}</td>
                                    <td>${simulations_arr[i].sim_lance_embutido_percent * 100}%</td>
                                    <td>${simulations_arr[i].lanceEmbutidoValorLanceLivre}</td>
                                    <td>${simulations_arr[i].lanceEmbutidoValor}</td>
                                    <td>${simulations_arr[i].lanceTotal}%</td>
                                    <td>${simulations_arr[i].creditoDisponivelTotal}</td>
                                    <td>${simulations_arr[i].parcelaPosContemplacaoSemSeguro}</td>
                                    <td>${simulations_arr[i].parcelaPosContemplacaoComSeguro}</td>
                                    <td>${simulations_arr[i].parcelaTotalPosContemplacao}</td>
                                </tr>
                            </tbody>
                        `;

                        table_subcontainer.appendChild(table_element);
                    }

                    return;
                }

                alert("Você precisa estar logado para continuar!");
                return window.location.href = "/user/auth/login";
            } catch (error) {
                console.log({ error });
            }
        });
    </script>
</main>
