<style>

</style>

<main>
    <form method="POST" action="/simulator/send" class="d-flex flex-wrap">
        <div class="px-3 mt-3 form-group col-md-6">
            <label  for="formGroupExampleInput">Grupos sugeridos</label>
            <input name="sim_grupos_sugeridos" type="text" class="form-control" id="formGroupExampleInput" placeholder="Grupos sugeridos">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label  for="formGroupExampleInput2">Taxa de ADM.</label>
            <input name="sim_taxa_adm" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Taxa de ADM.">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label  for="formGroupExampleInput3">Fundo de reserva</label>
            <input name="sim_fundo_reserva" type="text" class="form-control" id="formGroupExampleInput3" placeholder="Fundo de reserva">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label  for="formGroupExampleInput4">Prazo</label>
            <input name="sim_prazo" type="text" class="form-control" id="formGroupExampleInput4" placeholder="Prazo">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label  for="formGroupExampleInput5">Quantidade de cotas</label>
            <input name="sim_cotas" type="text" class="form-control" id="formGroupExampleInput5" placeholder="Quantidade de cotas">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label  for="formGroupExampleInput6">Carta de crédito - Unitária</label>
            <input name="sim_carta_credito_unitaria" type="text" class="form-control" id="formGroupExampleInput6" placeholder="Carta de crédito - Unitária">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label  for="formGroupExampleInput7">Lance de recursos próprios - %</label>
            <input name="sim_lance_recu_prop_percent" type="text" class="form-control" id="formGroupExampleInput7" placeholder="Lance de recursos próprios - %">
        </div>
        <div class="px-3 mt-3 form-group col-md-6">
            <label  for="formGroupExampleInput8">Lance embutido - %</label>
            <input name="sim_lance_embutido_percent" type="text" class="form-control" id="formGroupExampleInput8" placeholder="Lance embutido - %">
        </div>
        <div class="w-100 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-full w-25 mt-4 center">Submit</button>
        </div>
    </form>
</main>
